html {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background: #0c1a21;
    color: white;
    font-size: 24px;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
}

@font-face {
    font-family: Sherlock;
    src: url('Sherlock\ Vintage.ttf')
}

h1 {
    font-family: Sherlock;
    font-size: max(7vw, 40px);
    font-weight: 100;
    margin: 0 0 50px;
}

h2 { margin: 0; }

button {
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 30px;
    box-shadow: 2px 2px 3px black;
    cursor: pointer;
    font-family: "Playfair Display", serif;
    font-size: 28px;
    font-weight: 700;
    height: 60px;
    line-height: 56px;
    padding: 0 30px;
    position: relative;
    transition: all 300ms;
}

button:not(.chip):hover, button:not(.chip):focus, button:not(.chip):active {
    background-color: #da4c15;
    box-shadow: 1px 0px 0px #000000;
}

#game-play-section { padding-top: 35px; }

#start-game-container {
    background-color: #365d3f;
    height: 100vh;
        width: 100vw;
    position: relative;
}

#money-bet-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 25px;
}

#bet-input { display: none; }

#place-bet {
    height: 100vh;
        width: 100vw;
    position: relative;
}

#current-deal {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
        top: 42%;
    transform: translateY(-58%);
    width: 100%;
}

#current-wager {
    font-size: 30px;
    font-weight: 900;
    margin: 0 25px;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px black;
    width: 250px;
}

#current-wager-text {
    background-color: #650505;
    border-bottom: 1px solid rgb(141, 103, 85);
    border-radius: 26px;
    display: block;
    font-size: 24px;
    font-weight: 700;
    padding: 8px 16px;
    position: absolute;
        top: -52px;
    text-transform: uppercase;
}

.tooltip {
    animation: fadeIn 4s;
    color: #ffffff;
    padding: 44px 40px;
    position: absolute;
        top: 24vh;
        right: 4vw;
    width: 30vw;
}
.tooltip {
  /* triangle dimension */
  --a: 90deg; /* angle */
  --h: 1em;   /* height */

  --p: 66%;  /* triangle position (0%:left 100%:right) */
  --r: 1.2em; /* the radius */
  --b: 4px; /* border width  */
  --c1: #da4c15;
  --c2: #110d09;

  border-radius: var(--r)/min(var(--r),var(--p) - var(--h)*tan(var(--a)/2)) var(--r) var(--r) min(var(--r),100% - var(--p) - var(--h)*tan(var(--a)/2));
  clip-path: polygon(0 0,100% 0,100% 100%,0 100%,
    0 min(100%,var(--p) + var(--h)*tan(var(--a)/2)),
    calc(-1*var(--h)) var(--p),
    0 max(0%  ,var(--p) - var(--h)*tan(var(--a)/2)));
  background: var(--c1);
  border-image: conic-gradient(var(--c1) 0 0) fill 0/
    max(0%,var(--p) - var(--h)*tan(var(--a)/2)) var(--r) max(0%,100% - var(--p) - var(--h)*tan(var(--a)/2)) 0/0 0 0 var(--h);
}

.tooltip:before {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: var(--b);
  border-radius: inherit;
  clip-path: polygon(0 0,100% 0,100% 100%,0 100%,
    var(--b) min(100% - var(--b),var(--p) + var(--h)*tan(var(--a)/2) - var(--b)*tan(45deg - var(--a)/4)),
    calc(var(--b)/sin(var(--a)/2) - var(--h)) var(--p),
    var(--b) max(       var(--b),var(--p) - var(--h)*tan(var(--a)/2) + var(--b)*tan(45deg - var(--a)/4)));
  background: var(--c2) content-box;
  border-image: conic-gradient(var(--c2) 0 0) fill 0/
    max(var(--b),var(--p) - var(--h)*tan(var(--a)/2)) var(--r) max(var(--b),100% - var(--p) - var(--h)*tan(var(--a)/2)) 0/0 0 0 var(--h);
}

.star {
    aspect-ratio: 1;
    background: #F8CA00;
    background: radial-gradient(circle,#fff381 0%, rgba(248, 202, 0, 1) 25%);
    filter: brightness(0.85);
    position: absolute;
        top: 50%;
        left: -26px;
    transform: translateY(-50%) rotateX(36deg);
        width: 300px;  
    z-index: -1;
  clip-path: polygon(50% 0,
    calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
    calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))) 
   ); 
}

#last-chip-placed {
    margin: 0 50px;
    width: 200px;
    span {
        top: 50px;
        left: 36px;
    }
}

#chips {
    align-content: space-around;
    align-items: center;
    background-color: #650505;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    width: 100%;
}

.chip-container {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 94% auto;
}

#chip-container-1 { background-image: url('banana-1.png'); }
#chip-container-5 { background-image: url('banana-5.png'); }
#chip-container-25 { background-image: url('banana-25.png'); }
#chip-container-50 { background-image: url('banana-50.png'); }
#chip-container-100 { background-image: url('banana-100.png'); }

.chip {
    border: 10px dashed white;
    border-radius: 50%;
    box-shadow: 5px 4px 7px rgba(0,0,0,0.8);
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 36px;
    height: 100px;
        width: 100px;
    line-height: 90px;
    margin: 20px;
    position: relative;
    transform: skew(-13deg, 4deg) rotateX(31deg);
    &:before {
        content: '';
        border: 2px dashed white;
        border-radius: 50%;
        height: 80%;
        width: 80%;
        position: absolute;
            top: 50%;
            left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }
}

.chip:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/* Chip colors */
[data-value='1'] { background-color: red; }
[data-value='5'] { background-color: blue; }
[data-value='25'] { background-color: green; }
[data-value='50'] { background-color: orange; }
[data-value='100'] {
    background-color: black;
    span { left: -5px; }
}

#bank-amount-container {
    background-color: #110d09;
    border: 1px solid #f7f7f7;
    color: #f7f7f7;
    justify-content: space-evenly;
    padding: 30px;
}

#cards-section {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.hand {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding-top: 20px;
    position: relative;
    >.card:first-child { transform: rotate(-8deg); }
    >.card:last-child { transform: rotate(6deg); }
}

.card {
    color: #000000;
    height: 200px;
    margin: 0 -26px;
    position: relative;
    width: 130px;
    transition: transform 0.35s ease;
    transform-style: preserve-3d;
}

.card:nth-child(even) { top: 5px }
.card:nth-child(odd) { top: -10px }

.card:before {
    background-color: #ffffff;
    border-radius: 6px;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.95));
    font-size: 200px;
    height: 97%; width: 101%;
    line-height: 168px;
    position: absolute;
}

/* Color hearts and diamonds cards red; default is black */
[data-suit='H']:before, [data-suit='D']:before { color: red; }

[data-suit='S'][data-number='A']:before { content: '\1F0A1'; }
[data-suit='S'][data-number='2']:before { content: '\1F0A2'; }
[data-suit='S'][data-number='3']:before { content: '\1F0A3'; }
[data-suit='S'][data-number='4']:before { content: '\1F0A4'; }
[data-suit='S'][data-number='5']:before { content: '\1F0A5'; }
[data-suit='S'][data-number='6']:before { content: '\1F0A6'; }
[data-suit='S'][data-number='7']:before { content: '\1F0A7'; }
[data-suit='S'][data-number='8']:before { content: '\1F0A8'; }
[data-suit='S'][data-number='9']:before { content: '\1F0A9'; }
[data-suit='S'][data-number='10']:before { content: '\1F0AA'; }
[data-suit='S'][data-number='J']:before { content: '\1F0AB'; }
[data-suit='S'][data-number='Q']:before { content: '\1F0AD'; }
[data-suit='S'][data-number='K']:before { content: '\1F0AE'; }

[data-suit='H'][data-number='A']:before { content: '\1F0B1'; }
[data-suit='H'][data-number='2']:before { content: '\1F0B2'; }
[data-suit='H'][data-number='3']:before { content: '\1F0B3'; }
[data-suit='H'][data-number='4']:before { content: '\1F0B4'; }
[data-suit='H'][data-number='5']:before { content: '\1F0B5'; }
[data-suit='H'][data-number='6']:before { content: '\1F0B6'; }
[data-suit='H'][data-number='7']:before { content: '\1F0B7'; }
[data-suit='H'][data-number='8']:before { content: '\1F0B8'; }
[data-suit='H'][data-number='9']:before { content: '\1F0B9'; }
[data-suit='H'][data-number='10']:before { content: '\1F0BA'; }
[data-suit='H'][data-number='J']:before { content: '\1F0BB'; }
[data-suit='H'][data-number='Q']:before { content: '\1F0BD'; }
[data-suit='H'][data-number='K']:before { content: '\1F0BE'; }

[data-suit='D'][data-number='A']:before { content: '\1F0C1'; }
[data-suit='D'][data-number='2']:before { content: '\1F0C2'; }
[data-suit='D'][data-number='3']:before { content: '\1F0C3'; }
[data-suit='D'][data-number='4']:before { content: '\1F0C4'; }
[data-suit='D'][data-number='5']:before { content: '\1F0C5'; }
[data-suit='D'][data-number='6']:before { content: '\1F0C6'; }
[data-suit='D'][data-number='7']:before { content: '\1F0C7'; }
[data-suit='D'][data-number='8']:before { content: '\1F0C8'; }
[data-suit='D'][data-number='9']:before { content: '\1F0C9'; }
[data-suit='D'][data-number='10']:before { content: '\1F0CA'; }
[data-suit='D'][data-number='J']:before { content: '\1F0CB'; }
[data-suit='D'][data-number='Q']:before { content: '\1F0CD'; }
[data-suit='D'][data-number='K']:before { content: '\1F0CE'; }

[data-suit='C'][data-number='A']:before { content: '\1F0D1'; }
[data-suit='C'][data-number='2']:before { content: '\1F0D2'; }
[data-suit='C'][data-number='3']:before { content: '\1F0D3'; }
[data-suit='C'][data-number='4']:before { content: '\1F0D4'; }
[data-suit='C'][data-number='5']:before { content: '\1F0D5'; }
[data-suit='C'][data-number='6']:before { content: '\1F0D6'; }
[data-suit='C'][data-number='7']:before { content: '\1F0D7'; }
[data-suit='C'][data-number='8']:before { content: '\1F0D8'; }
[data-suit='C'][data-number='9']:before { content: '\1F0D9'; }
[data-suit='C'][data-number='10']:before { content: '\1F0DA'; }
[data-suit='C'][data-number='J']:before { content: '\1F0DB'; }
[data-suit='C'][data-number='Q']:before { content: '\1F0DD'; }
[data-suit='C'][data-number='K']:before { content: '\1F0DE'; }

.card.flipped {
    transform: rotateY(180deg);
}

.card.flipped:before { 
    content: '\1F0A0';
    color: black;
    background-color: #da4c15;
}

#game-play {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
        width: 100vw;
    justify-content: center;
}

#dealer-hand, #player-hand { width: 100%; }

#action-button-container {
    button { margin: 0 10px; }
}

.modal {
    align-items: center;
    background-color: rgba(0,0,0,0.9);
    border: 2px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 66vh;
        width: 82vw;
    justify-content: center;
    margin: 0 auto;
    position: fixed;
        left: 0;
        right: 0;
        top: 50%;
    transform: translateY(-52%);
    z-index: 2;
    h2 {
        font-size: 14vw;
        margin: 2vh 0;
    }
}

.hidden { display: none; }

#end-of-round-buttons {
    button { margin: 0 20px; }
}

#not-found {
    display: flex;
}

.message {
  transition: opacity 300ms ease;
  padding: 8px;
  border-radius: 6px;
  margin: 8px auto;
  max-width:600px;
  text-align: center;
}

.message.info    { background: #e6f0ff; color: #034; }
.message.success { background: #e6ffe6; color: #064; }
.message.error   { background: #ffe6e6; color: #640; }

.controls {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 15px;
    position: fixed;
        bottom: 0;
    width: 100%;
    button { margin: 0 5px; }
}